@model ShoppingCar.Backend.Models.ProductFilterView

@{
    ViewBag.Title = "Productos";
}

<h2>Catálogo de Productos</h2>


<div>
    <p>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-1">
                    @Html.LabelFor(model => model.Filter, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Filter, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1">
                    <input type="submit" value="Filtrar" class="btn btn-info" />
                </div>
            </div>
        }
    </p>
</div>

@if (Model.Products.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().QuantityDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().PercentDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products.FirstOrDefault().IsAvailable)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityDiscount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentDiscount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.ActionLink("Agregar al carro de compras", "AddToCar", new { id = item.ProductId }, new { @class = "btn btn-primary", onclick = "return confirm('¿Está seguro de agregar el producto a la compra?')" })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>Aun no hay productos que coincidan con su criterio de búsqueda.</h4>
}

