@model IEnumerable<ShoppingCar.Domain.Models.SaleDetailTmp>

@{
    ViewBag.Title = "Carro de Compras";
}

<h2>Carro de Compras</h2>

<p>
    @Html.ActionLink("Addcionar Producto", "AddNewToCar", new { }, new { @class = "btn btn-info" })
    @Html.ActionLink("Confirmar Compra", "Confirm", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PercentDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (!string.IsNullOrEmpty(item.Product.ImagePath))
            {
                <img src="@Url.Content(item.Product.ImagePath)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.SaleDetailTmpId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Eliminar", "Delete", new { id = item.SaleDetailTmpId }, new { @class = "btn btn-danger", onclick = "return confirm('¿Está seguro de eliminar este prodcuto?')" })
        </td>
    </tr>
}
</table>
<h3>Artículos: @Model.Sum(s => s.Quantity),Total: @Model.Sum(s => s.Value)</h3>